<nav class="page-sidebar">
            <ul class="side-menu metismenu scroller">
                <li class="active">
                    <a href="javascript:;"><i class="sidebar-item-icon ti-home"></i>
                        <span class="nav-label">Dashboards</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse in">
                        <li>
                            <a href="{% url 'dashboard_7' %}">Dashboard v7</a>
                        </li>
                    </ul>
                </li>
                <li class="heading">SETTINGS</li>
                    <ul class="nav-2-level collapse in">
                        <li>
                            <a href="{% url 'users_page' %}">Users</a>
                        </li>
                        <li>
                            <a href="{% url 'roles_page' %}">Roles</a>
                        </li>
                         <li>
                            <a href="{% url 'user_role_page' %}">User Roles</a>
                        </li>
                    </ul>

                <li class="heading">FEATURES</li>
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon ti-paint-roller"></i>
                        <span class="nav-label">Basic UI</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li>
                            <a href="{% url 'panel_page' %}">Panels</a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="nav-label">Tabs</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-3-level collapse">
                                <li>
                                    <a href="{% url 'tabs_page' %}">Pills And Line</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'alert_page' %}">Alerts</a>
                        </li>
                        <li>
                            <a href="{% url 'tooltip_page' %}">Tooltip &amp; Popover</a>
                        </li>
                        <li>
                            <a href="{% url 'badges_page' %}">Badges &amp; Progress</a>
                        </li>
                        <li>
                            <a href="{% url 'list_page' %}">List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon ti-package"></i>
                        <span class="nav-label">Components</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li>
                            <a href="{% url 'toastr_page' %}">Toastr Notifications</a>
                        </li>
                        <li>
                            <a href="{% url 'sweet_alert_page' %}">Sweet Alert</a>
                        </li>
                        <li>
                            <a href="{% url 'alertify_page' %}">Alertify</a>
                        </li>
                        <li>
                            <a href="{% url 'idle_timer_page' %}">Idle timer</a>
                        </li>
                        <li>
                            <a href="{% url 'session_timeout_page' %}">Session Timeout</a>
                        </li>
                        <li>
                            <a href="{% url 'tree_view_page' %}">Tree View</a>
                        </li>
                        <li>
                            <a href="{% url 'nestable_list_page' %}">Nestable List</a>
                        </li>
                        <li>
                            <a href="{% url 'clipboard_page' %}">Clipboard</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{% url 'button_page' %}"><i class="sidebar-item-icon ti-heart"></i>
                        <span class="nav-label">Buttons</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon ti-layers-alt"></i>
                        <span class="nav-label">Widgets</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li>
                            <a href="{% url 'widget_list_page' %}">App &amp; List Widgets</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon ti-check-box"></i>
                        <span class="nav-label">Forms</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li>
                            <a href="javascript:;">
                                <span class="nav-label">Form Controls</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-3-level collapse">
                                <li>
                                    <a href="{% url 'form_control_page' %}">Inputs</a>
                                </li>
                                <li>
                                    <a href="{% url 'form_switch_page' %}">Switch</a>
                                </li>
                                <li>
                                    <a href="{% url 'form_checkbox_radio_page' %}">Checkbox &amp; Radio</a>
                                </li>
                                <li>
                                    <a href="{% url 'form_input_group_page' %}">Input Groups</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'form_layout_page' %}">Form Layouts</a>
                        </li>
                        <li>
                            <a href="{% url 'form_advanced_page' %}">Advanced Plugins</a>
                        </li>
                        <li>
                            <a href="{% url 'form_mask_page' %}">Form input masks</a>
                        </li>
                        <li>
                            <a href="{% url 'form_validation_page' %}">Form Validation</a>
                        </li>
                        <li>
                            <a href="{% url 'text_editor_page' %}">Text Editors</a>
                        </li>
                        <li>
                            <a href="{% url 'form_dropzone_page' %}">Dropzone File Upload</a>
                        </li>
                        <li>
                            <a href="{% url 'image_cropping_page' %}">Image Cropping</a>
                        </li>
                        <li>
                            <a href="{% url 'auto_complete_page' %}">Autocomplete</a>
                        </li>
                        <li>
                            <a href="{% url 'form_wizard_page' %}">Form Wizard</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon ti-layout-tab-window"></i>
                        <span class="nav-label">Tables</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li>
                            <a href="{% url 'datatables_page' %}">Datatables</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon ti-bar-chart"></i>
                        <span class="nav-label">Charts</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li>
                            <a href="{% url 'chart_js_page' %}">Chart.js</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon ti-map-alt"></i>
                        <span class="nav-label">Maps</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li>
                            <a href="{% url 'google_map_page' %}">Google maps</a>
                        </li>
                    </ul>
                </li>
                <li class="heading">PAGES</li>
                <li>
                    <a href="{% url 'calendar_page' %}"><i class="sidebar-item-icon ti-calendar"></i>
                        <span class="nav-label">Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon ti-files"></i>
                        <span class="nav-label">General Pages</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li>
                            <a href="{% url 'faq_page' %}">FAQ</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon ti-user"></i>
                        <span class="nav-label">Custom Pages</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li>
                            <a href="javascript:;">
                                <span class="nav-label">User Pages</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-3-level collapse">
                                <li>
                                    <a href="{% url 'login_v2_page' %}">Login v2</a>
                                </li>
                                <li>
                                    <a href="{% url 'login_v3_page' %}">Login v3</a>
                                </li>
                                <li>
                                    <a href="{% url 'login_v4_page' %}">Login v4</a>
                                </li>
                                <li>
                                    <a href="{% url 'forgot_password_page' %}">Forgot password</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="nav-label">Error Pages</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-3-level collapse">
                                <li>
                                    <a href="{% url 'error_404_page' %}">404 error</a>
                                </li>
                                <li>
                                    <a href="{% url 'error_403_page' %}">403 error</a>
                                </li>
                                <li>
                                    <a href="{% url 'error_500_page' %}">500 error</a>
                                </li>
                                <li>
                                    <a href="{% url 'maintenance_page' %}">Maintenance Mode</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon ti-anchor"></i>
                        <span class="nav-label">Menu Levels</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li>
                            <a href="javascript:;">
                                <span class="nav-label">Level 2</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-3-level collapse">
                                <li>
                                    <a href="javascript:;">Level 3</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Level 3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
