{% extends 'base.html' %}
{% load static %}

{% block externalcss %}
    <link href="{% static 'vendors/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendors/dropzone/dist/min/basic.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <!-- START HEADER-->
        {% include 'static_element/header.html' %}
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        {% include 'static_element/sidebar.html' %}
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-heading">
                <h1 class="page-title">Dropzone File Upload</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}"><i class="la la-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">Forms</li>
                    <li class="breadcrumb-item">Dropzone File Upload</li>
                </ol>
            </div>
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Dropzone File Upload
                            <a class="btn btn-sm btn-primary ml-2" href="http://www.dropzonejs.com/" target="_blank">Official site</a>
                        </div>
                    </div>
                    <div class="ibox-body">
                        <form class="dropzone" id="mydropzone" action="http://admincast.com/adminca/preview/admin_2/html/assets/demo/server.php">
                            <div class="fallback">
                                <input name="file" type="file" multiple="multiple">
                            </div>
                        </form><br>
                        <div>All avalible options and full documentation you can find in:
                            <a href="http://www.dropzonejs.com/" target="_blank">http://www.dropzonejs.com/</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
            {% include 'static_element/footer.html' %}
        </div>
    </div>
    <!-- START SEARCH PANEL-->
    {% include 'static_element/searchtopbar.html' %}
    <!-- END SEARCH PANEL-->
    <!-- BEGIN THEME CONFIG PANEL-->
    {% include 'static_element/themeconfig.html' %}
    <!-- END THEME CONFIG PANEL-->
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <!-- END PAGA BACKDROPS-->
    <!-- New question dialog-->
    {% include 'static_element/session-dialog.html' %}
    <!-- End New question dialog-->
    <!-- QUICK SIDEBAR-->
    {% include 'static_element/quicksidebar.html' %}
    <!-- END QUICK SIDEBAR-->
{% endblock %}

{% block externaljs %}
    <script src="{% static 'vendors/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script>
        Dropzone.options.mydropzone = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 5, // MB
            dictDefaultMessage: '<div class="text-center mb-3"><i class="la la-cloud-upload text-primary" style="font-size:50px"></i></div> <strong>Drop files here or click to upload. </strong></br> (This is just a demo dropzone. Selected files are not actually uploaded.)',
            init: function() {
                this.on("addedfile", function(file) {
                    var removeButton = Dropzone.createElement("<a href='javascript:;'' class='btn btn-danger btn-sm btn-block'>Remove</a>");
                    var _this = this;
                    removeButton.addEventListener("click", function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        _this.removeFile(file);
                    });
                    file.previewElement.appendChild(removeButton);
                });
            }
        }
    </script>
{% endblock %}